.figure {
    box-sizing: border-box;
    margin: unset;
    background: #fff;
    border: 1px solid #d0d0d0;
    padding: 1.25rem;
    max-width: 552px;
    width: 100%;
    margin-top: 1rem;
}

.btn.btn-icon.next-figure {
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
}

.figure-actions {
    display: flex;
    justify-content: space-between;
}

.figure-nav {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.figure-labelline {
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

.figure-media {
    margin-bottom: 1rem;
}

.figure-media img {
    width: 100%;
    aspect-ratio: 16 / 9; 
    object-fit: contain;
    border: 1px solid #d0d0d0;
}

.fig-description {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}