footer::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    background-color: #FFD831;
    height: 10px;
}

footer {
    position: relative;
    padding: 1.875rem 1.25rem;
    display: flex;
    justify-content: center;
    background-color: #43423E;
    color: white;
    font-size: 0.75rem;
}

.footer-wrap {
    max-width: 72.5rem;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-separator {
    background-color: white;
    height: 1px;
    margin: 1rem 0;
}

.footer-bottom span,
.footer-bottom a {
    color: white;
}

.journal-brand img {
    width: 200px;
    height: auto;
}

.journal-brand .journal-text {
    margin-top: 0.5rem;
}

.publisher-block img {
    margin-top: 0.15rem;
}

.publisher-block img {
    width: 160px;
    height: auto;
}

.publisher-address {
    margin-top: 0.15rem;
}