.article-header-tabs-container {
    display: grid;
    grid-template-areas:
        "header"
        "tabs";
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    gap: 1rem;
}

.main-content {
    grid-template-areas:
        "header"
        "tabs"
        "main-content"
        "sidebar";
}



.panels {
    grid-area: main-content;
}

.right-sidebar {
    grid-area: sidebar;
}

.article-header {
  grid-area: header;
}

.tabs {
  grid-area: tabs;
}


