@media screen and (min-width: 992px) {

.main-container {
    display: grid;
    grid-template-areas:
        "main-content sidebar";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    max-width: 72.5rem;
    justify-content: center;
    margin: auto;
    padding: 1.25rem 1.25rem 5rem 1.25rem;
    box-sizing: content-box;
}

.article-header-tabs-container {
    display: grid;
    grid-template-areas:
        "header"
        "tabs";
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    gap: 1rem;
}

.panel-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

.main-content-wrapper {
    grid-area: main-content;
}

.right-sidebar {
    grid-area: sidebar;
}

.article-header {
  grid-area: header;
}

.tabs {
  grid-area: tabs;
}


}



