.main-container {
    display: grid;
    grid-template-areas:
    "header"
    "tabs";
    grid-template-columns: 1fr 1fr;
}

.article-header-tabs-container {
  display: grid;
  grid-template-areas:
    "header"
    "tabs";
  grid-template-rows: 1fr auto;
  gap: 1rem;
}

.article-header {
  grid-area: header;
}

.tabs {
  grid-area: tabs;
}

.panel-grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
}


.panel-grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

