.main-container {
    display: grid;
    grid-template-areas:
        "content"
        "sidebar";
    grid-template-columns: 1fr;
}

.article-header-tabs-container {
    display: grid;
    grid-template-areas:
        "header"
        "tabs";
    grid-template-rows: auto auto;
    gap: 1rem;
}

.right-sidebar {
    grid-area: sidebar;
}

.panels {
    grid-area: content;
}

.article-header {
  grid-area: header;
}

.tabs {
  grid-area: tabs;
}


