.article-header {

}

.authors {
    list-style: ;
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;

}

.authors li {
    display: inline-flex;
    flex-direction: row;
    gap: 0.25rem;
    border: 1px solid #D5D5D4;
    border-radius: 12px;
    padding: 0.25rem 0.75rem;

}

.authors li {
    display: inline-flex;
    flex-direction: row;
    gap: 0.25rem;
    border: 1px solid #D5D5D4;
    border-radius: 12px;
    padding: 0.25rem 0.75rem;

}