.article-header {

}

.authors {
    list-style: ;
    display: inline-flex;
    flex-direction: row;

}

.authors li {
    display: inline-flex;
    flex-direction: row;
    gap: 0.25rem;
    border: 1px
}