.skip {
    display: none;
}

.journal-header {
    display:flex;
    justify-content: center;
    border-bottom: 1px solid #D5D5D4;
}

.header-wrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

@media (min-width: 992px) {

    .journal-header {
        padding: 0rem 1.25rem;
    }

    .header-wrap {
        max-width: 72.5rem;
        padding: 2.5rem 0rem 1.25rem 0rem;
    }

    .header-wrap .journal-logo {
        max-width: 240px;
    }

    .header-wrap .publisher-logo {
        max-width: 180px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

    .journal-header {
        padding: 0rem 1.25rem;
    }

    .header-wrap {
        max-width: 72.5rem;
        padding: 2.5rem 0rem 1.25rem 0rem;
    }

    .header-wrap .journal-logo {
        max-width: 240px;
    }

    .header-wrap .publisher-logo {
        max-width: 1860px;
    }

}


@media only screen and (min-width: 440px) and (max-width: 767px) {

    .journal-header {
        padding: 0rem 1.25rem;
    }

    .header-wrap {
        max-width: 72.5rem;
        padding: 2.5rem 0rem 1.25rem 0rem;
    }

    .header-wrap .journal-logo {
        max-width: 220px;
    }

    .header-wrap .publisher-logo {
        max-width: 160px;
    }

}



@media only screen and (min-width: 375px) and (max-width: 439px) {

    .header-wrap .journal-logo {
        max-width: 200px !important;
    }

    .header-wrap .publisher-logo {
        max-width: 120px !important;
    }

}


@media only screen and (min-width: 310px) and (max-width: 439px) {

    .journal-header {
        padding: 0rem 0.75rem;
    }

    .header-wrap {
        max-width: 72.5rem;
        padding: 2rem 0rem 0.75rem 0rem;
    }

    .header-wrap .journal-logo {
        max-width: 170px;
    }

    .header-wrap .publisher-logo {
        max-width: 100px;
    }

}