.download-button {
    display: flex;
    justify-content: center;
}    

.download-button .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.65rem 0.75rem;
    width: 100%;
    height: 100%
}

.download-button .btn img {
    flex-shrink: 0;
}

.download-button.pdf-unavailable .btn {
    color:#b0b0b0;
    background-color: #fafafa;
    cursor: not-allowed;
}

.download-button.pdf-unavailable .btn img {
    display: none;
}

.download-button.pdf-available .btn {
    border: 1px solid #EFB408;
}

.right-sidebar details summary::marker {
    content: none;
    display: none;
}

.right-sidebar {
    max-width: 100%;
    word-wrap: break-word;
}

.accordion-wrapper {
    border: 1px solid #D5D5D4;
    margin-top: 1.25rem;
}

.right-sidebar details summary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem 1.25rem;
    box-sizing: border-box;
    max-width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    font-size: 0.875rem;
    font-weight: 600;
    color: #767674;
}

.right-sidebar details summary:hover {
    background-color: #f8f8f8;
}

.quote-icon-option {
    display: inline-flex;
    gap: 0.25rem;
}

.right-sidebar details p,
.right-sidebar details ul {
    padding: 0.5rem 1.25rem 1rem 1.25rem;
    box-sizing: border-box;
    cursor: text;
    font-size: 0.875rem;
}

.right-sidebar details .btn.secondary {
    display:inline-flex;
    justify-content: center;
    font-size: 0.875rem;
    margin: 0rem 0rem 1rem 1.25rem;
    gap: 0.5rem;
}

.right-sidebar details[open] summary {
    border-bottom: unset;
    background-color: transparent;
    color: #43423E;
}

.right-sidebar details summary img {
    transition: transform 0.1s ease;
}

.right-sidebar details[open] summary > img {
    transform: rotate(180deg);
}




