.download-button {
    border: 1px solid #D5D5D4;
    padding: 0.75rem;
}    

.download-button .btn {
    display: inline-flex;
    gap: 0.5rem;
    white-space: nowrap;
    text
}

.download-button .btn img {
    flex-shrink: 0;
}