.download-button {
    display: flex;
    justify-content: center;
    border: 1px solid #D5D5D4;
    padding: 0.65rem;
}    

.download-button .btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    text-decoration: none;
    padding: 0rem 0.5rem;
}

.download-button .btn img {
    flex-shrink: 0;
}

.download-button .btn img {
    flex-shrink: 0;
}